#user-section.pt-2
  %h3.pl-2 Members
  %input{type: "hidden", value: User.find(@board.user_id).email, id: "creator"}
  %section.pt-1.ml-2
    - @board.memberships.each do |member|
      = render partial: "memberships/membership", locals: { member: member }