--type-name-tag url:"URL"
--type-name-tag action:"Action"
--type-name-tag required:"Required"
--type-name-tag response:"Response"
--type-name-tag optional:"Optional"

--default-return ''

--private
-o docs

# Column
app/controllers/columns_controller.rb
app/services/columns/create_service.rb
app/models/column.rb

app/controllers/boards_controller.rb
app/models/boards.rb

app/controllers/comments_controller.rb
app/models/comment.rb

# Card
app/controllers/cards_controller.rb
app/models/card.rb
