--type-name-tag url:"URL"
--type-name-tag action:"Action"
--type-name-tag required:"Required"
--type-name-tag optional:"Optional"

--default-return ''


--private
-o docs

# Membership 
app/controllers/memberships_controller.rb
app/models/memberships.rb

# Column
app/controllers/columns_controller.rb
app/services/columns/create_service.rb
app/models/column.rb

app/controllers/boards-controller.rb
app/controllers/comments_controller.rb
app/models/comment.rb

