.list-icon.mr-1
  .avatar.bg-rgba-warning.m-0.p-25
    .avatar-content
      %i.bx.bx-user-check.text-danger.font-medium-5
.list-content
  %span.list-title User has been assigned to the card <b>#{notification.notificationable.title}</b>
  %small.text-muted.d-block
    = notification.updated_at
