.list-icon.mr-1
  .avatar.bg-rgba-info.m-0.p-25
    .avatar-content
      %i.bx.bx-message-alt.text-info.font-medium-5 
.list-content
  %span.list-title New comment was added to the card <b>#{notification.notificationable.title}</b>
  %small.text-muted.d-block
    = notification.updated_at
