$("#add-kanban").off("ajax:success").on("ajax:success", function() {
$('.kanban-container').append("#{j render @column}");

$('.kanban-title-board:last')[0].addEventListener('blur', function(event) {
var columnTitle = event.srcElement.textContent.trim();
updateColumn(columnTitle);
});

function updateColumn (columnTitle) {
\// update column at the database
$.ajax({
url: #{@column.board_id} + '/columns/' + #{@column.id},
method: 'PATCH',
headers: {
'X-CSRF-Token': document.getElementsByName('csrf-token')[0].content
},
data: {
'column[name]': columnTitle
},
error: function(jqXHR) {
if(jqXHR.status === 422) {
eval(jqXHR.responseText);
}
}
});
};

$("#kanban-wrapper").find('.dropdown:last').click(function() {
$(this).toggleClass('show');
});
});

= render partial: 'shared/toaster'