var className = ".kanban-board[data-id=\'" + "#{@column.id}" + "\']";
var columnElement = $(`${className}`)[0].getElementsByClassName("kanban-title-board")[0]

if (columnElement.innerText.length <= 1){
columnElement.innerHTML = "#{@previousName}";
}

$(".flashes").empty()
\.append("#{j render 'shared/flash'}")
\.children()
\.delay( 5000 )
\.slideUp( 1000 );
