- if @column.errors.any?
  className = ".kanban-board[data-column-id=\'" + "#{@column.id}" + "\']";
  columnElement = $(`${className}`)[0].getElementsByClassName("kanban-title-board")[0];
  columnLength = columnElement.innerText.trim().length;
  columnElement.innerHTML = "#{@previousName}";

= render partial: 'shared/toaster'
