if ($("#kanban-wrapper").length){
= render partial: 'shared/update_card', formats: [:js]
}
var array = $(".edit-kanban-card").find('.tag-item').map(function(){
return $.trim($(this).text());
}).get();
if (array.includes($('#lastAddedTag').val())) {
toastr.error("This tag already exists at this card!")
} else {
$('.tags-container').append("#{j render 'tag', tag: @tag}")
$(".small_tags-container-#{@card.id}").append("#{j render 'small_tag', tag: @tag}")
toastr.success(`Tag: ${$('#lastAddedTag').val()}` + " was successfully added!")
}
