!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hello,
      %b
        = @user.full_name
    %p Someone has requested a link to change your password. You can do this through the link below.
    %p
      #{link_to 'Change my password', api_v1_users_password_edit_url( reset_password_token: @user.reset_password_token )}.
    %p If you didn't request this, please ignore this email.
    %p Your password won't change until you access the link above and create a new one.
    %p Best regards,
    %p Kv065RubySSTeam
    %p
