<div class="kanban-item" data-border="info"> 
  <div class="font-medium-1 text-bold-600">
    <%=  card.title %></div>
  <div class="kanban-footer d-flex justify-content-between mt-1">
    <div class="kanban-footer-left d-flex">
      <div class="font-small-3">
        <%= card.body %></div>
    </div>
  </div>
</div>