<div class="kanban-item" data-border="info" data-card-id="<%= card.id %>"> <%=  card.title %>
  <br />
  <%=  card.body %>
  <div class="kanban-footer d-flex justify-content-between mt-1">
    <div class="kanban-footer-left d-flex">
      <div class="kanban-due-date d-flex align-items-center mr-50">
        <i class="bx bx-time-five font-size-small mr-25"></i><span class="font-size-small">Jan 1</span></div>
      <div class="kanban-comment d-flex align-items-center mr-50">
        <i class="bx bx-message font-size-small mr-25"></i><span class="font-size-small">8</span></div>
    </div>
  </div>
</div>