.card-wrapper
  .kanban-item{"data-border" => "info", "data-card-id" => "#{card.id}", |
                          "data-position" => "#{card.position}"}
    .font-medium-1.text-bold-600
      = card.title
    - unless card.body.blank?
      .kanban-footer.d-flex.justify-content-between.mt-1
        .kanban-footer-left.d-flex
          .font-small-3
            = card.body
