$('.kanban-title-button').off("ajax:success").on("ajax:success", function() {
$(this).hide();
$(this).parents('.kanban-board').find(".kanban-drag").append("#{j render 'card_form'}")
\.find('#CancelBtn').click(function(e) {
$(this).parents("div.kanban-board").find("a.kanban-title-button").show();
$(this).parent("form.form-group").remove();
});
});
