<section id="media-alignment">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">About the project</h4>
        </div>
        <div class="card-body">
          <p>Projector is a collaboration tool that organizes your projects into boards. In one glance, Projector tells you what's being worked on, who's working on what, and where something is in a process.</p>
        </div>
        <div class="card-header">
          <h4 class="card-title">A technology stack</h4>
        </div>
        <div class="card-body">
          <p>
            Ruby, Rails, Devise, Sidekiq, Redis, RSpec, Rubocop, Yardoc, Puma, Capistrano, Passenger, Nginx, AWS (EC2, S3), PostgreSQL, Rails API, Bootstrap, jQuery, Haml, Webpack, Github, Github Actions, Scrum.
          </p>
        </div>
        <div class="card-header">
          <h4 class="card-title">About the developers:</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <p>Creating the Projector was very interesting and difficult</p>
            <p>All our tasks are described here,
              <code><a href="https://github.com/Kv065RubySSTeam/projector/projects/1">projector-board</a></code>
              and project code <code><a href="https://github.com/Kv065RubySSTeam/projector/projects/1">projector</code>.
            </p>

            <%# Tovstenko Olha %>

            <div class="media-list media-bordered">
              <div class="media">
                <a class="pr-1 align-self-center" href="#">
                  <img src="https://github.com/Kerono4ka.png?size=100" alt="Tovstenko Olha image">
                </a>
                <div class="media-body">
                  <h5 class="media-heading"><a href="https://github.com/Kerono4ka">Tovstenko Olha</a></h5>
                  <p class=" mb-0">
                      <code>
                        English: Upper-intermediate <br />
                        Offer expectation: <br />
                        (Junior Ruby Developer) <br />
                      </code>
                      </p>
                      <p class="mb-0">
                        Authentication, registration, confirmation, restore password with Devise
                      </p>
                      <p class="mb-0">
                        Columns and cards logic (CRUD and related) and UI
                      </p>
                      <p class="mb-0">
                        Services for membership and column creation, concern for polymorphic likes to cards and comments
                      </p>
                      <p class="mb-0">
                        Assignees and likes logic and UI
                      </p>
                      <p class="mb-0">
                        Implementation history functionality for cards and related UI
                      </p>
                      <p class="mb-0">
                        ActionText as card editor
                      </p>
                      <p class="mb-0">
                        Deploy with Capistrano (AWS)
                      </p>
                      <p class="mb-0">
                        Unit-tests with RSpec for controllers, model, view and service
                      </p>
                      <p class="mb-0">
                        Documentation with YARD
                      </p>
                      API for board, column and membership functionality
                      </p>
                </div>
              </div>
              <%# Volyk Iryna %>
              <div class="media">
                <a class="pr-1 align-self-center" href="#">
                  <img src="https://github.com/IraVolyk.png?size=100" alt="Volyk Iryna image">
                </a>
                <div class="media-body">
                  <h5 class="media-heading"><a href="https://github.com/IraVolyk">Volyk Iryna</a></h5>
                  <p class=" mb-0">
                    <code>
                      English: Intermediate Strong <br />
                      Offer expectation: <br />
                      (Junior Ruby Developer) <br />
                    </code>
                  </p>
                  <p class="mb-0">Implementation of Boards and Comments logic and UI </p>
                  <p class="mb-0">Configuration of sending emails in the background with Sidekiq and Redis </p>
                  <p class="mb-0">Implementation of Service for moving cards (“drag and drop”) logic with dragula lib </p>
                  <p class="mb-0">Creation of index page for Cards: table with sortable columns and infinite scroll pagination </p>
                  <p class="mb-0">Implementation of cards 'soft' delete logic with discard gem </p>
                  <p class="mb-0">Investigation of REST, Caching in Rails and JWT Authentication </p>
                  <p class="mb-0">Adding User profile page with edit functionality and avatar </p>
                  <p class="mb-0">Writing of unit tests (Rspec) and documentation (Yard) for Comments </p>
                  <p class="mb-0">Participating in creation of email notifications for users with Action Mailer </p>
                  <p class="mb-0">Participating in creation of Rails Api controllers (Base, Authentication and Users) </p>
                </div>
              </div>

              <%# Tetiana Hurova %>

              <div class="media">
                <a class="pr-1 align-self-center" href="#">
                  <img src="https://github.com/tsaputo.png?size=100" alt="Tetiana Hurova image">
                </a>
                <div class="media-body">
                  <h5 class="media-heading"><a href="https://github.com/tsaputo">Tetiana Hurova</a></h5>
                  <p class="mb-0">
                    <code>
                      English: Upper Intermediate strong <br />
                      Offer expectations: <br />
                      (Software Engineer) <br />
                    </code>
                  </p>
                  <p class="mb-0"> Backend and frontend for membership feature </p>
                  <p class="mb-0"> CSV export in background implementation </p>
                  <p class="mb-0"> Participated in creation of Facebook authentication </p>
                  <p class="mb-0"> Implementation of adding tags to the cards with ActsAsTaggableOn gem </p>
                  <p class="mb-0"> Access rights at the project with CanCanCan gem </p>
                  <p class="mb-0"> Search for cards by title, name, creator’s first and last names </p>
                  <p class="mb-0"> Participated in creation of notifications </p>
                  <p class="mb-0"> Creation of API for the Cards </p>
                  <p class="mb-0"> Wrote unit tests for Card logic </p>
                  <p class="mb-0"> Wrote documentation for Card logic </p>

                </div>
              </div>

              <%# Roman Synkevych> %>

              <div class="media">
                <a class="pr-1 align-self-center" href="#">
                  <img src="https://github.com/synkevych.png?size=100" alt="Synkevych Roman image">
                </a>
                <div class="media-body">
                  <h5 class="media-heading"><a href="https://github.com/synkevych">Synkevych Roman</a></h5>
                  <p class=" mb-0">
                    <code>
                      English: Intermediate <br />
                      Offer expectation: <br />
                      (Software Engineer) <br />
                    </code>
                  </p>
                  <p class="mb-0"> Investigated Turbolinks and Rails-ujs for AJAX </p>
                  <p class="mb-0"> Investigated JWT and jwt gem </p>
                  <p class="mb-0"> Investigated Continuous Integration </p>
                  <p class="mb-0"> Configure authentication functionality with Device gem </p>
                  <p class="mb-0"> Implement Columns logic and UI </p>
                  <p class="mb-0"> Implement Cards logic and UI </p>
                  <p class="mb-0"> Configured AWS instance for deployment </p>
                  <p class="mb-0"> Created index page for Cards </p>
                  <p class="mb-0"> Wrote unit tests for Membership </p>
                  <p class="mb-0"> Have added Time Tracking </p>
                  <p class="mb-0"> Implemented User API and tests for it </p>
                  <p class="mb-0"> Added email notifications for Cards </p>

                </div>
              </div>

              <%# Striapkin Kostiantyn> %>

              <div class="media">
                <a class="pr-1 align-self-center" href="#">
                  <img src="https://github.com/tullur.png?size=100" alt="Striapkin Kostiantyn image">
                </a>
                <div class="media-body">
                  <h5 class="media-heading"><a href="https://github.com/tullur">Kyrylo Aksonenko</a></h5>
                  <p class=" mb-0">
                    <code>
                      English: Intermediate <br />
                      Offer expectations: <br />
                      (Ruby Software Engineer) <br />
                    </code>
                  </p>
                  <p class="mb-0">Implemented membership logic </p>
                  <p class="mb-0">Created the export CSV service </p>
                  <p class="mb-0">Investigated Service Objects </p>
                  <p class="mb-0">Investigated Nginx </p>
                  <p class="mb-0">Take part in deployment task </p>
                  <p class="mb-0">Wrote unit tests for the user model. view and controller </p>
                  <p class="mb-0">Have added rich text editor </p>
                  <p class="mb-0">Developed audited logs for cards </p>
                  <p class="mb-0">Implement Rails API controllers for users. </p>
                  <p class="mb-0">Wrote documentation. </p>

                </div>
              </div>

              <%# Striapkin Kostiantyn> %>

              <div class="media">
                <a class="pr-1 align-self-center" href="#">
                  <img src="https://github.com/etherell.png" alt="Striapkin Kostiantyn image" height="100" width="100">
                </a>
                <div class="media-body">
                  <h5 class="media-heading"><a href="https://github.com/etherell">Striapkin Kostiantyn</a></h5>
                  <p class=" mb-0">
                    <code>
                      English: Intermediate <br />
                      Offer expectations: <br />
                      (Junior Ruby Developer) <br />
                    </code>
                  </p>
                  <p class="mb-0">CRUD, UI, sorting and search for boards </p>
                  <p class="mb-0">Edit, update (from Devise) and show actions with UI for user </p>
                  <p class="mb-0">User avatar with Active Storage and possibility to delete and change avatar picture </p>
                  <p class="mb-0">Move cards to another column (drag-n-drop) frontend and backend logic </p>
                  <p class="mb-0">CRUD and UI for comments </p>
                  <p class="mb-0">Create and destroy actions with UI for card tags using ActsAsTaggableOn gem </p>
                  <p class="mb-0">Permissions for models using CanCanCan gem </p>
                  <p class="mb-0">UI, model with a polymorphic association, STI nested models, and create service for them. </p>
                  <p class="mb-0">Full-text search using pg_search gem </p>
                  <p class="mb-0">API controllers for tags and comments </p>
                  <p class="mb-0">Unit tests with RSpec for Board MVC and API controllers for tags and comments </p>
                  <p class="mb-0">YARD documentation for board controller and model </p>
                  <p class="mb-0">Investigated Client-server architecture, HTTP protocol, Action Cable </p>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
