.content-header.row
.content-body
  / Basic card section start
  %section#content-types
    .row
      .col-xl-4.col-md-6.col-sm-12
        .card
          .card-content
            .card-body
              %h4.card-title Card With Header And Footer
              %p.card-text
                Gummies bonbon apple pie fruitcake icing biscuit apple pie jelly-o sweet roll. Toffee
                sugar plum sugar plum jelly-o jujubes bonbon dessert carrot cake.
          .card-footer.d-flex.justify-content-between
            %span Card Footer
            %button.btn.btn-light-primary Read More
      .col-xl-4.col-md-6.col-sm-12
        .card
          .card-content
            .card-body
              %h5.card-title Be Single Minded
              %p.card-text
                Chocolate sesame snaps apple pie danish cupcake sweet roll jujubes tiramisu.Gummies
                bonbon apple pie fruitcake icing biscuit apple pie jelly-o sweet roll.
          %ul.list-group.list-group-flush
            %li.list-group-item Cras justo odio
            %li.list-group-item Dapibus ac facilisis in
            %li.list-group-item Vestibulum at eros
      .col-xl-4.col-md-6.col-sm-12
        .card
          .card-content
            .card-body
              %h4.card-title Carousel
              %h6.card-subtitle Support card subtitle
            #carousel-example-card.carousel.slide{"data-ride" => "carousel"}
              %ol.carousel-indicators
                %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-card"}
                %li{"data-slide-to" => "1", "data-target" => "#carousel-example-card"}
                %li{"data-slide-to" => "2", "data-target" => "#carousel-example-card"}
              .carousel-inner.rounded-0{:role => "listbox"}
                .carousel-item.active
                  %img.d-block.w-100{:alt => "First slide", :src => ""}/
                .carousel-item
                  %img.d-block.w-100{:alt => "Second slide", :src => ""}/
                .carousel-item
                  %img.d-block.w-100{:alt => "Third slide", :src => ""}/
              %a.carousel-control-prev{"data-slide" => "prev", :href => "#carousel-example-card", :role => "button"}
                %span.bx.bx-chevron-left.icon-prev{"aria-hidden" => "true"}
                %span.sr-only Previous
              %a.carousel-control-next{"data-slide" => "next", :href => "#carousel-example-card", :role => "button"}
                %span.bx.bx-chevron-right.icon-next{"aria-hidden" => "true"}
                %span.sr-only Next
            .card-body
              %p.card-text
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt assumenda mollitia
                officia dolorum eius quasi.Chocolate sesame snaps apple pie danish cupcake sweet roll jujubes tiramisu.
              %p.card-text
                Gummies bonbon apple pie fruitcake icing biscuit apple pie jelly-o sweet roll. Toffee sugar plum sugar
                plum jelly-o jujubes bonbon dessert carrot cake.
                Sweet pie candy jelly. Sesame snaps biscuit sugar plum. Sweet roll topping fruitcake. Caramels liquorice
                biscuit ice cream fruitcake cotton candy tart.
