%footer.footer.footer-static.footer-light
  %p.clearfix.mb-0
    %span.float-left.d-inline-block 2020 © Kv065RubySSTeam
    %span.float-right.d-sm-inline-block.d-none
      Crafted with
      %i.bx.bxs-heart.pink.mx-50.font-small-3>
      by
      %a.text-uppercase{:href => "#", :target => "_blank"} Pixinvent
    %button.btn.btn-primary.btn-icon.scroll-top{:type => "button"}
      %i.bx.bx-up-arrow-alt
