.header-navbar-shadow
%nav.header-navbar.main-header-navbar.navbar-expand-lg.navbar.navbar-with-menu.fixed-top.navbar-shadow
  .navbar-wrapper
    .navbar-container.content
      #navbar-mobile.navbar-collapse
        .mr-auto.float-left.bookmark-wrapper.d-flex.align-items-center
          %ul.nav.navbar-nav
            %li.nav-item.mobile-menu.d-xl-none.mr-auto
              %a.nav-link.nav-menu-main.menu-toggle.hidden-xs{:href => "#"}
                %i.ficon.bx.bx-menu
          %ul.nav.navbar-nav.bookmark-icons
        %ul.nav.navbar-nav.float-right
          %li.dropdown.dropdown-user.nav-item
            %a.dropdown-toggle.nav-link.dropdown-user-link{"data-toggle" => "dropdown", :href => "#"}
              .user-nav.d-sm-flex.d-none
                - if user_signed_in?
                  %span.user-name= current_user.email
              %span
                %img.round{:alt => "avatar", :height => "40", :src => "", :width => "40"}/
            .dropdown-menu.dropdown-menu-right.pb-0
              %a.dropdown-item{:href => edit_user_registration_path}
                %i.bx.bx-user.mr-50
                Edit Profile
              = link_to destroy_user_session_path, |
                method: :delete,                   |
                class: "dropdown-item"  do         |
                %i.bx.bx-power-off.mr-50>
                Logout
